@import url('https://fonts.googleapis.com/css?family=Dosis|Fjalla+One');

$primary-color: #c8c8c8;

html,
body,
#body {
  height: 100%;
  width: 100%;
}

.wrapper {
  bottom: 0;
  height: 50%;
  left: 0;
  margin: auto;
  right: 0;
  position: absolute;
  top: 0;
  width: 80%;

  .menu-title {
    font-family: 'Fjalla One', sans-serif;
    font-size: 40px;
    text-align: center;
  }

  .loader {
    height: 100px;
    left: 0;
    margin: auto;
    right: 0;
    position: absolute;
    top: 0;
    width: 100px;
    z-index: 1000;
  }

  form {
    border: 1px solid $primary-color;
    height: 400px;

    .list-wrapper {
      border-right: 1px solid $primary-color;
      display: block;
      height: 100%;
      margin: 0;
      padding: 4px;

      .entry {
        height: 78px;
        list-style: none;
        padding: 8px;
        transition: all 0.3s ease;

        &:not(:last-child) {
          border-bottom: 1px solid $primary-color;
        }

        .title {
          font-family: 'Dosis', sans-serif;
          float: left;
          height: 100%;
          padding: 20px 0px;
          width: 50%;

          input[type="radio"] {
            margin: 0px 10px;
          }
        }

        &:hover {
          .desc-wrapper {
            .desc-link {
              display: block;
            }
          }
        }

        .desc-wrapper {
          float: left;
          width: 50%;

          .desc-link {
            display: none;
            float: right;

            span {
              color: $primary-color;
              font-size: 32px;
              margin: 14px 0;
            }
          }
        }

        .description {
          float: left;
          padding-left: 20px;
        }
      }
    }

    .status-bar {
      border-bottom: 1px solid $primary-color;
      font-family: 'Dosis', sans-serif;
      padding: 0;

      .alert-status {
        border-right: 1px solid $primary-color;
        min-height: 28px;
        padding: 4px 0;

        p {
          margin: 0;
          color: red;
        }
      }

      .user-max-status {
        min-height: 28px;
        padding: 4px 0;

        span {
          padding-left: 6px;
        }
      }

      > div {
        padding-left: 0;
        padding-right: 0;
      }
    }

    .total {
      display: block;
      font-family: 'Dosis', sans-serif;
      font-size: 92px;
      margin: 40px 0;
      text-align: center;
    }

    .field-slot {
      padding: 0;

      input,
      button {
        background: transparent;
        border: none;
        border-bottom: 1px solid $primary-color;
        display: inherit;
        font-family: 'Dosis', sans-serif;
        height: 100%;
        margin: 6px auto;
        outline: none !important;
        padding: 6px 12px;
        text-align: center;
        text-transform: uppercase;
        width: 70%;
      }
    }
  }

  .modal-wrapper {
    background: rgba(255, 255, 255, 1);
    bottom: 0;
    height: 500px;
    left: 0;
    margin: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: all 1s ease;
    z-index: 9999;

    .close-link {
      display: block;
      position: absolute;
      right: 5px;
      top: 5px;

      span {
        font-size: 32px;
        color: $primary-color;
      }
    }

    .desc-section {
      text-align: center;
      margin: 60px auto;
      font-family: 'Fjalla One', sans-serif;
    }
  }
}

@media (max-width: 768px) {
  .wrapper {
    margin: 25px auto 0 auto;

    .menu-title {
      font-size: 20px;
    }

    form {
      .list-wrapper {
        border-right: none;
      }

      .status-bar {
        .alert-status {
          border-right: none;
        }
      }

      .total {
        font-size: 72px;
        margin: 20px 0;
      }
    }

    .modal-wrapper {
      height: 800px;
    }
  }
}
